html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#controlls {
  margin: 1em;
}

#editors {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
}

@media (max-width: 1300px) {
  #editors {
    flex-direction: column;
  }

  #container,
  #results {
    height: 50%;
    min-height: 0;
  }

  #results {
    border-left: none;
    border-top: 2px solid #000;
  }
}

#container,
#results {
  flex: 1 1 50%;
  min-width: 0;
  height: 100%;
}

#results {
  border-left: 2px solid #000;
}